WanderLab_workflow.json
{
  "name": "WanderLab SMM-генератор контента",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — профессиональный копирайтер тревел-контента.\nПиши живо, легко, увлекательно.\nСтиль: дружелюбный, экспертный, вдохновляющий.\nСтруктура: 2–3 абзаца по несколько предложений. до 1000 символов.\nБез смайликов, без лишней воды."
            },
            {
              "content": "=Напиши пост по теме \"{{ $json.output[0].content[0].text }}\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        560,
        112
      ],
      "id": "0e497a76-3e59-41a7-8c2d-b9ebc1d7bda8",
      "name": "Генерация поста",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        -32
      ],
      "id": "f575ce77-2a1b-4e11-80a2-5de27589f97f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// items[0] = image\n// items[1] = topic\n// items[2] = article text\n\nconst image = items[0].json;\nconst topicObj = items[1].json;\nconst textObj = items[2].json;\n\n// Достаём данные\nconst url = image.url;\nconst topic = topicObj.output?.[0]?.content?.[0]?.text ?? '';\nlet captionText = textObj.output?.[0]?.content?.[0]?.text ?? '';\n\n// Экранируем HTML\nfunction escapeHTML(str) {\n  return str\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n}\n\n// Обрабатываем текст, оставляя переносы строки\ncaptionText = escapeHTML(captionText)\n  .replace(/\\n\\n/g, \"\\n\\n\")\n  .replace(/\\n/g, \"\\n\");\n\nconst safeTopic = escapeHTML(topic);\n\n// Строим финальный caption с \\n\\n\nconst finalCaption = `<b>${safeTopic}</b>\\n\\n${captionText}`;\n\nreturn [\n  {\n    json: {\n      url,\n      topic,\n      caption: finalCaption\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -16
      ],
      "id": "8f99aa23-4a9d-45f2-bcd9-e82381724532",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Ты — экспертый генератор тем для тревел-контента.\nДай одну свежую, интересную тему на тему путешествий.\nКоротко: 3–6 слов.\n\nПримеры: \"Секретные места в Анталии\", \"Маршрут по Бали за 3 дня\".\n\n\nВАЖНО: не пиши перед темой ничего. верни только название\n\nВАЖНО: У тебя есть доступ к таблице GOOGLE, проверь столбец Темы, чтобы минимизировать повторы локаций."
            },
            {
              "content": "Сгенерируй одну уникальную тему путешествия."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        160,
        -16
      ],
      "id": "43f7e426-c3ac-4ada-8a1a-8c50a2b408a8",
      "name": "Генерируем тему",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Create a cinematic travel photography style image based on this topic: \"{{ $json.output[0].content[0].text }}\". \n\nStyle requirements: natural lighting, documentary photography aesthetic, authentic landscape moment, shot on professional mirrorless camera, realistic colors with slight desaturation, sense of adventure and exploration, no text overlays, no people in direct focus (small silhouettes for scale are ok), emphasis on the natural environment and atmosphere. Photojournalistic style, National Geographic quality, avoid oversaturated colors and overly dramatic scenes.",
        "options": {
          "size": "1024x1024",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        560,
        -144
      ],
      "id": "d8905d0d-c781-47ec-8ea3-0b19a7897804",
      "name": "Генерация изображения",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        80
      ],
      "id": "56237472-735a-4be5-ba69-16dd799efc71",
      "name": "Запуск по расписанию"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -112
      ],
      "id": "e78f9b54-e976-45b7-bc3a-215128c586e4",
      "name": "Ручной запуск"
    },
    {
      "parameters": {
        "content": "## Запуск вручную или по расписанию",
        "height": 560,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -256
      ],
      "id": "557e9c81-f483-4de4-b9b1-fdc2fa7c1f6c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Генерация темы, сверка с таблицей, чтобы минимизировать повторы локаций",
        "height": 560,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -256
      ],
      "id": "3626f00e-28e7-4ea3-8840-42e6f9a85e76",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "WonderLab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        304,
        128
      ],
      "id": "d79c380f-4fd5-4a16-b70b-12a408eb3ea8",
      "name": "Смотрим таблицу",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iy8o8ZwPH301yA8Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Генерация изображения и текста статьи",
        "height": 560,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        -256
      ],
      "id": "0467c1cc-4ef6-485b-b8ae-df0d3ed7e1cf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Объединение данных",
        "height": 560,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -256
      ],
      "id": "5e89a4cc-048b-492a-a405-18182f6eaf9b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Публикация поста и запись данных в таблицу",
        "height": 560,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        -256
      ],
      "id": "6a74ee59-4c39-4d87-96bf-4eb774c35eac",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "WonderLab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата публикации": "={{ $now.setZone(\"Europe/Moscow\").toFormat(\"yyyy-LL-dd HH:mm\") }}",
            "Тема": "={{ $('Code in JavaScript').item.json.topic }}",
            "Текст": "={{ $json.result.caption }}",
            "Ссылка на изображение": "={{ $('Code in JavaScript').item.json.url }}",
            "ID сообщения": "={{ $json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата публикации",
              "displayName": "Дата публикации",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тема",
              "displayName": "Тема",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Текст",
              "displayName": "Текст",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ссылка на изображение",
              "displayName": "Ссылка на изображение",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID сообщения",
              "displayName": "ID сообщения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        -16
      ],
      "id": "1237787e-c605-43ad-866d-092e45bc818a",
      "name": "Запись в таблицу",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iy8o8ZwPH301yA8Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1002792908952",
        "file": "={{ $json.url }}",
        "additionalFields": {
          "caption": "={{ $json.caption }}",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -16
      ],
      "id": "dd0e6bd7-e787-49ed-b40d-9175ac51fc24",
      "name": "Публикация",
      "webhookId": "83874cd5-0661-40f9-bd26-606613046d2b",
      "credentials": {
        "telegramApi": {
          "id": "iymiQKEXjM6jGpxF",
          "name": "TG-WanderBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Генерация поста": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Публикация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерируем тему": {
      "main": [
        [
          {
            "node": "Генерация изображения",
            "type": "main",
            "index": 0
          },
          {
            "node": "Генерация поста",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Генерация изображения": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск по расписанию": {
      "main": [
        [
          {
            "node": "Генерируем тему",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ручной запуск": {
      "main": [
        [
          {
            "node": "Генерируем тему",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Смотрим таблицу": {
      "ai_tool": [
        [
          {
            "node": "Генерируем тему",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Запись в таблицу": {
      "main": [
        []
      ]
    },
    "Публикация": {
      "main": [
        [
          {
            "node": "Запись в таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e4fb94e-e808-4d77-96be-45c5305132e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "069966ce086b01585368d8e1ad71c5255246f46cedf7190707155d87b644aef8"
  },
  "id": "Wpp6JfsP0UMp6M2b",
  "tags": []
}